<div class="container-fluid">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
      <form
        action=""
        class="rounded"
        method="POST"
        [formGroup]="registerForm"
        (submit)="onSubmit()"
      >
        <legend class="text-center fw-semibold mb-3">Đăng ký</legend>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Họ tên</mat-label>
            <input matInput formControlName="fullname" />
          </mat-form-field>
          <div
            *ngIf="
              registerForm['controls']['fullname'].touched &&
              registerForm['controls']['fullname'].errors
            "
            class="text-danger"
          >
            <small
              *ngIf="registerForm['controls']['fullname'].errors['required']"
              >Họ tên không được để trống</small
            >
            <small
              *ngIf="registerForm['controls']['fullname'].errors['pattern']"
              >Họ tên chưa đúng định dạng</small
            >
            <small *ngIf="registerForm['controls']['fullname'].errors['minlength'] || registerForm['controls']['fullname'].errors['maxlength']" class="text-error">
              Họ tên phải có ít nhất 2 ký tự và nhiều nhất 15 ký tự
            </small>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <div
            *ngIf="
              registerForm['controls']['email'].touched &&
              registerForm['controls']['email'].errors
            "
            class="text-danger"
          >
            <small *ngIf="registerForm['controls']['email'].errors['required']"
              >Email không được để trống</small
            >
            <small *ngIf="registerForm['controls']['email'].errors['email']"
              >Email chưa đúng định dạng</small
            >
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Số điện thoại</mat-label>
            <input matInput type="tel" formControlName="phonenumber" />
          </mat-form-field>
          <div
            *ngIf="
              registerForm['controls']['phonenumber'].touched &&
              registerForm['controls']['phonenumber'].errors
            "
            class="text-danger"
          >
            <small
              *ngIf="registerForm['controls']['phonenumber'].errors['required']"
              >Số điện thoại không được để trống</small
            >
            <small
              *ngIf="registerForm['controls']['phonenumber'].errors['pattern']"
              >Số điện thoại chưa đúng định dạng</small
            >
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              class="me-2"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <div
            *ngIf="
              registerForm['controls']['password'].touched &&
              registerForm['controls']['password'].errors
            "
            class="text-danger"
          >
            <small
              *ngIf="registerForm['controls']['password'].errors['required']"
              >Password không được để trống</small
            >
            <small
              *ngIf="registerForm['controls']['password'].errors['minlength']"
              >Password phải có ít nhất 8 ký tự</small
            >
            <small
              *ngIf="registerForm['controls']['password'].errors['pattern']"
              >Password phải bao gồm chữ cái, số, và ký tự đặc biệt</small
            >
          </div>
        </div>
        <div class="row">
          <div class="">
            <span>Bạn đã có tài khoản? </span
            ><a href="/" class="text-danger">Đăng nhập</a>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button
            type="submit"
            class="btn btn-danger"
            style="background-color: rgb(235, 11, 11)"
          >
            Đăng ký
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
