.vertical-progress-bar{
    height: 10%;
    transform: rotate(90deg); 
    transform-origin: left;
}

.btn-number-question{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
}

.btn-success {
    background-color: black;
    color: white;
}
  
.btn-outline-dark {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.control_panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    padding-left: 18px;
    padding-bottom: 30px;
}
@media (max-width: 980px) {
    .control_panel{
        width: 103%;
        height: auto;
    }
    .control_panel .col{
        svg{
            height: 30px;
            width: 30px;
        }
        .time-answer{
            font-size: 10px;
        }
    }
    .btn-number-question {
      display: grid;
      justify-content: center;
      gap: 4px;
      grid-template-columns: repeat(5, 1fr);
    }
  
    .btn-number-question .btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8em;
    }
    .btn-submit{
        margin-top: 125px;
        width: 20px;
        margin-left: -15px;
    }
    .question{
        margin-top: 250px;
    }
}
  

  